@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.App .navbar{
  padding-top: 0;
}

.wrapper-dashboard{
  display: flex;
  flex-direction: column;
}

/* .show{
  display: block;
  background-color: gray;
  position: absolute;
} */

.hidden{
  display: none;
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* .times{
  font-size: 0.6rem;
  display: flex;
  flex-wrap: wrap;
} */

/* .times button{
  margin-top: .1rem;
  font-size: 0.9rem;
  padding: 0.2rem;
} */

/* .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
} */

.hide {
    display: none;
}

/* .line {
    display: inline-block;
} */

/** style geometry ***********************************/

.chair{
  stroke: darkgoldenrod;
  stroke-width: 4;
  fill: transparent;
}

.chair.selected{
  fill: yellow;
  stroke: darkorange;
}

.chair.hovering{
  fill: yellow;
  stroke: darkorange;
  cursor: pointer;
}

.rectangle .hovering{
  fill: #f00;
}

.rectangle rect{
  stroke: blue;
  fill: lightskyblue;
  fill-opacity: 0.8;
}
